@import 'variables';


.logotype {
  height: 100%;
  display: flex;
  align-items: center;

  &:hover {
    cursor: pointer;
  }//hover

  h1 {
    color: $color-light;
    font-size: 3rem;
    font-weight: 900;
    opacity: 0.48;
    margin-bottom:0 !important;
  }//h1
}//logotype




