@import 'variables';
@import 'classes';

$maxWidthLogotype: 14rem;
$maxHeightLogotype: 2.8rem;

.logotype {
  max-width: $maxWidthLogotype;
  max-height: $maxHeightLogotype;
  height: 100%;
  display: flex;
  align-items: center;

  &:hover {
    cursor: pointer;
  }//hover

  .img-logotype {
    width: $maxWidthLogotype;
    height: $maxHeightLogotype; 
    background-position: center;
    background-attachment: unset;
    background-repeat: no-repeat;
  
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }// img-logotype

}//logotype





@media(max-width:$sm) {
  .logotype {
    width: $maxWidthLogotype - 3.5rem;
    height: $maxHeightLogotype - 0.3rem;
  }//logotype
}// mediaSM



