<div class="container section">
    <div class="row">
      <div class="col-12">
  
        <h1 class="section-title">{{ 'NAVIGATION_ROUTE.CONTACT' | translate }}</h1>
        <h2 class="section-subtitle">{{ 'CONTACT.SECTION_SUBTITLE' | translate }}</h2>
  
      </div>
    </div>

    <div class="row">
      <div class="col-12">

        <p class="text-info">{{ 'CONTACT.TOP_TITLE' | translate }}</p>
        
        <div class="mail-input-wrapper">
          <input class="input-text" type="text" value="" placeholder="Introduce tu correo electronico" />
        </div>

        <div class="comment-input-wrapper">
          <textarea class="input-text" ></textarea>
          <p class="button-wrapper">
            <a class="button-send">Enviar</a>
          </p>
        </div>

      </div>
    </div>



    <div class="row">
      <div class="col-12">
        <div class="instructions-send-mail">
          <p class="text-info">Una vez recibamos tu correo, nos pondremos en contacto contigo para darte la mas exacta respuesta a tu solicitud.</p>
        </div>
      </div>
    </div>



  </div>
