@import 'variables';


$coorporativeColor: #043f60 !default;





.raw-dropdown{
  position: fixed;
  width: auto;
  height: auto;
  margin-top:10px;
  //padding:2px;
  color: $color-light;
  background-color: $color-light;
  z-index:1024;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  border-radius: 3px;
}//ifc-dropdown




.arrow {
  position: fixed;
  z-index: 1030;
  content: '';
  margin-top: -10px;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent $color-light transparent;
}// arrow



.arrow.dark {
  border-color: transparent transparent $coorporativeColor transparent;
}//arrow.dark



.raw-dropdown.dark {
  color:$color-light;
  background-color: $coorporativeColor;
}//ifc-dropdown.dark





@media(max-width:$md) {
  .raw-dropdown {
    //right: calc(25% - 76px) !important;
  }// ifc-dropdown
}//@media




@media(max-width:$xs) {
  .raw-dropdown {
    //right: calc(25% - 76px) !important;
  }// ifc-dropdown
}//@media
