<div class="container">
  <div class="row debug">
    <div class="col-6 debug">
      <p>
        Antes de concentrarse con su equipo para la disputa del partido frente a Las Palmas, 
        Gerard Piqué depositó su voto en una escuela de Sant Just Desvern habilitada para tal efecto. 
        El defensa del Barcelona siempre ha sido un defensor del derecho a decidir sobre la independencia de Cataluña 
        y no perdió la oportunidad de participar en el referéndum.El futbolista también habló sobre 
        los hechos que se han producido a lo largo de la mañana en Barcelona: "Esto es una vergüenza, 
        las imágenes hablan por sí solas".
      </p>
    </div>
  </div>
</div>

