


<div class="company-features-wrapper">
  <div class="container">
        
    <div class="row">
      
      <div class="col-12 col-md-4">
        <div class="feature">
          <i class="material-icons">local_play</i>
          <span>{{ 'HOME.QUALITY_LABEL' | translate }}</span>
          <p>{{ 'HOME.QUALITY_SLOGAN' | translate }}</p>
        </div>
      </div>

      <div class="col-12 col-md-4">
        <div class="feature">
          <i class="material-icons">new_releases</i>
          <span>{{ 'HOME.SERIOUSNESS_LABEL' | translate }}</span>
          <p>{{ 'HOME.SERIOUSNESS_SLOGAN' | translate }}</p>
        </div>
      </div>


      <div class="col-12 col-md-4">
          <div class="feature">
            <i class="material-icons">event_available</i>
            <span>{{ 'HOME.SERVICE_LABEL' | translate }}</span>
            <p>{{ 'HOME.SERVICE_SLOGAN' | translate }}</p>
          </div>
        </div>


    </div>
  </div>
</div>




<div class="box-contact-info">
  <div class="container">
    <div class="row">
      <div class="col-12">
        
        <h1>{{ 'APPLICATION_COMMON.OURS_HELP' | translate }} <span>{{ phone }}</span></h1>

      </div>
    </div>
  </div>
</div>





<div class="container">
  <div class="row">
    <div class="col-12">
      <p class="text-content one">
        {{ 'ABOUT_US.HISTORY' | translate }}
        {{ 'ABOUT_US.MUNDILABEL_TEAM' | translate }}
      </p>
    </div>
  </div>
</div>



<div class="company-slogan-wrapper">
    <div class="container">
          
      <div class="row">
        <div class="col-12">
               
        <p class="slogan">
          {{ 'APPLICATION_COMMON.SLOGAN' | translate }}
        </p>
        <div class="slogan-line"></div>

      </div>
    </div>
  </div>
</div>



<div class="container">
    <div class="row">
      <div class="col-12">
        <p class="text-content two">
          {{ 'ABOUT_US.WAY_OF_WORKING' | translate }}
          {{ 'ABOUT_US.WORK_METHODS' | translate }}
        </p>
      </div>
    </div>
  </div>




<div class="background-image" [style.background-image]=" 'url(' + labelImageUrl + ')' "></div>



<div class="box-how-we-work">
  <div class="container">
    <div class="row">
      <div class="col-12">
        
        <p class="slogan">
          {{ 'TITLES_BY_ROUTE.HOWWEWORK' | translate }}
        </p>
        <div class="slogan-line"></div>
        
      </div>
    </div>
  </div>
</div>





<div class="box-ours-clients">
  <div class="container">

    <div class="row">
      <div class="col-12">
        <p class="text-content-decorate">{{ 'HOME.OURS_CLIENTS' | translate }}:</p>
      </div>  
    </div>



    <div class="row clients-logos-wrapper">

      <div class="col-6 col-md-5 col-lg-4 col-xl-3">
        <div class="our-client-logo" [style.background-image]=" 'url(' + wurthClientLogoUrl + ')' "></div>    
      </div>

      <div class="col-3 col-md-3 col-lg-2 col-xl-1">
          <div class="our-client-logo" [style.background-image]=" 'url(' + ifemaClientLogoUrl + ')' "></div>    
        </div>

      <div class="col-3 col-md-3 col-lg-2 col-xl-1">
        <div class="our-client-logo" [style.background-image]=" 'url(' + upsClientLogoUrl + ')' "></div>    
      </div>

      <div class="col-6 col-md-5 col-lg-4 col-xl-3">
        <div class="our-client-logo" [style.background-image]=" 'url(' + lorealClientLogoUrl + ')' "></div>    
      </div>
      
      

      

      

      <div class="col-6 col-md-5 col-lg-4 col-xl-3">
        <div class="our-client-logo" [style.background-image]=" 'url(' + seurClientLogoUrl + ')' "></div>    
      </div>


      


    </div>




  </div>
</div>






<div class="box-contact-info last-box">
  <div class="container">
    <div class="row">
      <div class="col-12">
          <h1>{{ 'APPLICATION_COMMON.MAIL_CONNECTION' | translate }} <span>{{ mail }}</span></h1>
      </div>
    </div>
  </div>
</div>

