


<div class="company-features-wrapper">
  <div class="container">
        
    <div class="row">
      
      <div class="col-12 col-md-4">
        <div class="feature">
          <i class="material-icons">local_play</i>
          <span>Calidad</span>
          <p>{{ 'HOME.QUALITY_SLOGAN' | translate }}</p>
        </div>
      </div>

      <div class="col-12 col-md-4">
        <div class="feature">
          <i class="material-icons">new_releases</i>
          <span>Seriedad</span>
          <p>{{ 'HOME.SERIOUSNESS_SLOGAN' | translate }}</p>
        </div>
      </div>


      <div class="col-12 col-md-4">
          <div class="feature">
            <i class="material-icons">event_available</i>
            <span>Servicio</span>
            <p>{{ 'HOME.SERVICE_SLOGAN' | translate }}</p>
          </div>
        </div>


    </div>
  </div>
</div>




<div class="box-contact-info">
  <div class="container">
    <div class="row">
      <div class="col-12">
        
        <h1>Si necesitas nuestra ayuda, no dudes en comunicarte con nosotros en el <span>{{ phone }}</span></h1>

      </div>
    </div>
  </div>
</div>





<div class="company-slogan-wrapper">
    <div class="container">
          
      <div class="row">
        <div class="col-12">
                
        <p class="slogan">
          <i class="material-icons flip-icon">format_quote</i>
          <span>{{ 'APPLICATION_COMMON.SLOGAN' | translate }}</span>
          <i class="material-icons">format_quote</i>
        </p>
          
      </div>
    </div>
  </div>
</div>





<div class="container">

  <div class="row">
    <div class="col">
      <div class="box-features">
        
        <div class="box">

        </div>


      </div>
    </div>
    
  </div>


  <div class="row">
    <div class="col-12">
      <div class="box-info">
        <p>
          
        </p>
      </div>
    </div>
  </div>
</div>



<div class="background-image" [style.background-image]=" 'url(' + labelImageUrl + ')' "></div>





<div class="box-how-we-work">
  <div class="container">
    <div class="row">
      <div class="col-12">
        
        <h1>
          <i class="material-icons flip-icon">format_quote</i>
          {{ 'TITLES_BY_ROUTE.HOWWEWORK' | translate }}
          <i class="material-icons">format_quote</i>
        </h1>
        
      </div>
    </div>
  </div>
</div>





<div class="box-contact-info last-box">
  <div class="container">
    <div class="row">
      <div class="col-12">
          <h1>También puedes comunicarte con nosotros por correo electronico, <span>{{ mail }}</span></h1>
      </div>
    </div>
  </div>
</div>

