
@import 'variables';
@import 'classes';

$color-titles: rgba($color-dark,0.85) !default;
$color-text: rgba($color-dark,0.85);
$distance-between-blocks: 3rem !default;




.text-content-decorate {
  text-align: justify;
  font-size: $fontSize-paragraph;
  color: $color-text;
}//text-content-decorate





.company-features-wrapper {
  border-top:4px solid $color-coorporative-1;
  padding:2rem 0.5rem;
  background-color: $color-dark;

  .feature {
    height: 15rem;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: rgba($color-light,0.65) !important;

    span {
      text-align: center;
      font-size: 1.8rem;
      font-weight: bold;
      
    }//span

    p {
      margin-top:0.5rem;
      opacity: 0.75;
      text-align: center;
      font-size: $fontSize-paragraph;
      margin-bottom: 0 !important;
    }//p

    i {
      font-size: 6.5rem;
      color: rgba($color-light,0.35);
    }//i

  }//feature

}//company-features-wrapper





.company-slogan-wrapper {
  padding:5rem 1rem;
  background-color: $color-light;

  p {
    text-align: center;
    margin-bottom: 0 !important;
  }//p

}//company-slogan-wrapper




p.slogan {
  color: $color-titles !important;
  text-align: left !important;
  font-size: $fontSize-title;
  font-weight: $fontWeight-subtitle;
}//slogan



.slogan-line {
  @extend .title-line;
}//slogan-line




.box-contact-info {
  padding:2rem 0;
  color: rgba($color-dark,0.55) !important;
  background-color: rgba($color-dark,0.2);

  &.last-box {
    background-color: darken($color-coorporative-2,4);
  }//last-box

  h1 {
    text-align: center;
    font-size: $fontSize-widget + 0.3rem !important;
    margin-bottom:none;
   
    span {
      font-size: $fontSize-widget + 0.3rem !important;
      font-weight: bold;
    }
  }//h1
}//box-contact-info





.background-image {
  width: 100%;
  height: 40rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
}//background-image






p.text-content {
  @extend .text-content-decorate;
  margin-bottom: 0;

  
  &.one {
    margin-top: $distance-between-blocks;
  }//one
  &.two {
    margin-bottom: $distance-between-blocks;
  }//two
  
}//text-content



.box-how-we-work {
  border-top:4px solid $color-coorporative-1;
  padding:$distance-between-blocks 0;

  h1 {
    color:$color-titles;
    text-align: left;
    font-size: $fontSize-title;

    i {
      font-size:3rem;
    }//i

  }//h1
  
}//box-how-we-work




.clients-logos-wrapper {
  width: 100%;
  height: 15rem;
  margin-bottom: $distance-between-blocks;
  justify-content: space-between;
  
  div.our-client-logo {
    height: 100%;
    width: 100%;  
    margin:2rem 1rem !important;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.45;
  }//ours-client-logo
  
}// clients-logos-wrapper





.box-last-info {
  width: 100%;
  height: 15rem;
}//box-last-info




@media(max-width:$lg) and (min-width:$md) {
  .company-features-wrapper {
    .feature {
      height: 20rem;
    }//feature
  }//company-features-wrapper
}//mediaMD



@media(max-width:$sm) {
  p.slogan {
    font-size: $fontSize-title - 1rem;
  }//slogan
}// mediaSM