
<div class="container section">
  <div class="row">
    <div class="col-12">
      
      <h1 class="section-title">{{ 'NAVIGATION_ROUTE.ABOUT_US' | translate }}</h1>
      <h2 class="section-subtitle">{{ 'ABOUT_US.SECTION_SUBTITLE' | translate }}</h2>
      
      <p class="section-text">
        {{ 'ABOUT_US.HISTORY' | translate }}
        {{ 'ABOUT_US.COMPANY_POLITICS' | translate }}
        {{ 'ABOUT_US.WAY_OF_WORKING' | translate }}
        <br/>
        <br/>
        {{ 'ABOUT_US.MUNDILABEL_TEAM' | translate }}
      </p>

      <h1 class="title-text">{{ 'ABOUT_US.TITLE_1' | translate }}</h1>
      <div class="title-line"></div>

      <p class="section-text">
        {{ 'ABOUT_US.WORK_METHODS' | translate }}
        <span [innerHTML]=" 'ABOUT_US.TARGETS' | translate "></span>
      </p>

      <br/>
      <br/>

      <p class="section-text">
        <span [innerHTML]=" 'ABOUT_US.AT_PRODUCTION' | translate "></span>
        <span [innerHTML]=" 'ABOUT_US.KINDS_OF_PRODUCTION' | translate "></span>
      </p>

      <h1 class="title-text">{{ 'ABOUT_US.OUR_PRODUCTS' | translate }}</h1>
      <div class="title-line"></div>
    
    </div>
  </div>
</div>




