
@import 'variables';
@import 'classes';




.section-text {
  @extend .font-paragraph;
  color: $color-text;
}//section-text


.title-text {
  font-size: $fontSize-subtitle;
  font-weight: $fontWeight-subtitle;
  color: $color-text;
  margin-top: $distance-between-blocks;
}//h1


.title-line {
  @extend .title-line;
  margin-bottom: $distance-between-blocks;
}//title-line


.packages-image {
  margin-top: $distance-between-blocks;
  margin-bottom: $distance-between-blocks;
  width: 100%;
  height: 65rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}//packages-image




@media (min-width:$lg) and (max-width:$xl) {
  .packages-image {
    height: 45rem;
  }//packages-image
}//mediaLG



@media (max-width:$md) {
  .packages-image {
    height: 35rem;
  }//packages-image
}//mediaMD



@media(min-width:$xs) and (max-width:$sm) {
  .packages-image {
    height: 20rem;
  }//packages-image
}//mediaXS