
@import 'variables';
@import 'classes';




.section-text {
  @extend .font-paragraph;
  color: $color-text;
}//section-text



.title-text {
  font-size: $fontSize-subtitle;
  font-weight: $fontWeight-subtitle;
  color: $color-text;
  margin-top: $distance-between-blocks;
}//h1


.title-line {
  @extend .title-line;
  margin-bottom: $distance-between-blocks;
}//title-line


