@import 'variables';
@import 'classes';



:host{
  width: 100%;
  display:flex;
  background-color: none;
  justify-content: space-around;
  align-items: center;
}//:host


.navigator-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  
  .item {
    @extend .font-widget;
    color: $color-dark;
    border-radius: 3px;
    padding:0.2rem 2rem;


    &.activated {
      color: $color-selection;
      
      &:hover {
        cursor:default;
        background-color: none !important;
      }//hover

    }// activated

    
    &:not(.activated):hover {
      cursor: pointer;
      background-color: rgba($color-light,0.1);
    }//hover

  }//item

}//navigator-wrapper





.mini-navigator-wrapper {
  display: none;
  justify-content: center;
  align-items: center;
  color: $color-dark;

  &:hover {
    cursor:pointer;
  }//hover

  &:active {
    color:$color-selection;
  }

  i {
    font-size: $fontSize-icon + 1rem;
  }//i

}//mini-navigator-wrapper





@media(max-width:$lg) {
  
  .navigator-wrapper {
    display: none !important;
  }//navigator-wrapper


  .mini-navigator-wrapper {
    display: flex;
  }//mini-navigator-wrapper

}// mediaQuery