<div class="navigator-wrapper">
  <span [class.activated]=" isActivated(2) " class="item" (click)=" navigationTo(2) ">About As</span>
  <span [class.activated]=" isActivated(3) " class="item" (click)=" navigationTo(3)">How We Work</span>
  <span [class.activated]=" isActivated(4) " class="item" (click)=" navigationTo(4)">Location</span>
  <span [class.activated]=" isActivated(5) " class="item" (click)=" navigationTo(5)">Contact</span>
</div>



<div class="mini-navigator-wrapper">
  
  <div>
    <i class="material-icons">menu</i>
  </div>

  
</div>