@import 'variables';
@import 'classes';



:host{
  background-color: none;
}//:host



.navigator-wrapper {
  width: 100%;
  height: 100%;
  display:flex;
  justify-content: flex-end;

  .item {
    @extend .font-widget;
    color: $color-light;
    border-radius: 3px;
    padding:0.2rem 2rem;


    &.activated {
      color: $color-selection;
      
      &:hover {
        cursor:default;
        background-color: none !important;
      }//hover

    }// activated

    

    &:not(.activated):hover {
      cursor: pointer;
      background-color: rgba($color-light,0.1);
    }//hover

  }//item

}//navigator-wrapper





.mini-navigator-wrapper {
  display: none;
  justify-content: center;
  align-items: center;
  color: $color-light;

  i {
    font-size: $fontSize-icon;
  }//i
}//mini-navigator-wrapper





@media(max-width:$lg) {
  
  .navigator-wrapper {
    display: none !important;
  }//navigator-wrapper


  .mini-navigator-wrapper {
    display: flex;
  }//mini-navigator-wrapper

}// mediaQuery