<div class="sidebar-menu-wrapper">
    <span [class.activated]=" isActivated(1) " class="item" (click)=" navigationTo(1) ">{{ 'NAVIGATION_ROUTE.HOME' | translate }}</span>
    <span [class.activated]=" isActivated(2) " class="item" (click)=" navigationTo(2)">{{ 'NAVIGATION_ROUTE.ABOUT_US' | translate }}</span>
    <span [class.activated]=" isActivated(3) " class="item" (click)=" navigationTo(3)">{{ 'NAVIGATION_ROUTE.LOCATION' | translate }}</span>
    <span [class.activated]=" isActivated(4) " class="item" (click)=" navigationTo(4)">{{ 'NAVIGATION_ROUTE.CONTACT' | translate }}</span>
  </div>
