
@import 'variables';


.font-title {
  font-family: $familyFont;
  font-size: $fontSize-title;
  font-weight: $fontWeight-title;
}// Font-title


.font-subtitle {
  font-family: $familyFont;
  font-size: $fontSize-subtitle;
  font-weight: $fontWeight-subtitle;
}// Font-title


.font-widget {
  font-family: $familyFont;
  font-size: $fontSize-widget;
  font-weight: $fontWeight-widget;
}


.font-paragraph {
  font-family: $familyFont;
  font-size: $fontSize-paragraph;
  font-weight: $fontWeight-paragraph;
}// Font-paragraph


.font-detail {
  font-family: $familyFont;
  font-size: $fontSize-detail;
  font-weight: $fontWeight-detail;
}// Font-detail


.title-line {
  width: 8%;
  border-top:14px solid $color-underline;
}//title-line



.light-shadow {
  -webkit-box-shadow: 0px 0px 5px 0px rgba($color-dark,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba($color-dark,0.75);
  box-shadow: 0px 0px 5px 0px rgba($color-dark,0.75);
}