// Fonts styles of Application
$familyFont: 'Montserrat',sans-serif;

$fontSize-detail: 0.75rem;
$fontSize-widget: 1.15rem;
$fontSize-paragraph: 0.95rem;
$fontSize-title: 4rem;
$fontSize-icon: 2rem;

$fontWeight-detail: 200;
$fontWeight-widget: 100;
$fontWeight-paragraph: 300;
$fontWeight-title: 900;



// Mains Colors of Application
$color-coorporative-1: #68BCF5;
$color-coorporative-2: #F1E3C3;
$color-selection:#F30707;
$color-light:#FFFFFF;
$color-dark:#2C3038;