
// Fonts styles of Application
$familyFont: 'Montserrat',sans-serif;

$fontSize-detail: 0.75rem;
$fontSize-widget: 1rem;
$fontSize-paragraph: 0.88rem;
$fontSize-title: 3.5rem;
$fontSize-icon: 1.65rem;

$fontWeight-detail: 300;
$fontWeight-widget: 400;
$fontWeight-paragraph: 300;
$fontWeight-title: 900;


// Media queries for responsive design 
// of this application
$xs:  0;
$sm:  576px;
$md:  768px;
$lg:  992px;
$xl:  1200px;
$xxl: 1800px;


// Mains Colors of Application
$color-coorporative-1: #0D87D8;
$color-coorporative-2: #E3E8F0;
$color-selection:#F30707;
$color-light:#FFFFFF;
$color-dark:#292F38;