// Fonts styles of Application
$familyFont: 'Montserrat',sans-serif;

$fontSize-detail: 0.75rem;
$fontSize-paragraph: 1.1rem;
$fontSize-title: 2rem;
$fontSize-icon: 2rem;

$fontWeight-detail: 200;
$fontWeight-paragraph: 300;
$fontWeight-title: 900;

// Mains Colors of Application
$color-coorporative-1: #68BCF5;
$color-coorporative-2: #F1E3C3;
$color-selection:#F30707;
$color-light:#FFFFFF;
$color-dark:#2C3038;